<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Welcome</title>
</head>
<body>
    <h1>MarsuBlog</h1>
    <button onclick="createPost()">Crear Post</button>
    
    <div id="createPostContainer" class="postContainer">
        <form action="/" method="post" class="postContainerContent">
            <textarea placeholder="Título" name="text_title" required="required" id="title_input"></textarea>
            <textarea placeholder="Contenido" name="text_content" id="content_input"></textarea>
            <button onclick="closePost()" type="submit" name="action" value="aceptar">Aceptar</button>
            <button onclick="closePost()" type="submit" name="action" value="cancelar">Cancelar</button>
        </form>
    </div>

    <ul>
        {% for item in contenido %}
            <li><a href="/log/{{ item.id }}">{{ item.date }} - {{ item.contentTitle }}</a></li>
        {% endfor %}
    </ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>